:root{
    --defaul-green: #1bd954;
    --light-white: white;
}

*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* Utility Classes */
.btn-primary{
    background: var(--defaul-green);
    color:blue;
    text-transform: uppercase;
    padding: 20px 70px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-family:  sans-serif;
    font-weight: bold;/*espaço entre as letras*/
    transition: all 700ms ease;
}

.btn-primary:hover{
    background: var(--light-white);
    cursor: pointer;
}

 .logo{
    height: 40px;
    width: auto;
}

/*NavBar*/
#navbar{
    display: flex;
    background-color: rgba(0,0,0,0.9);
    color: var(--light-white);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#navbar .navbar-container{ /*Add o id junto da class deixa o code mais legivel*/
    width: 60%;
	display: flex;
	align-items: center; /* centraliza verticalmente*/
	justify-content: space-between;/*espaçamento entre eles*/
	padding: 20px 0;
}

#navbar .navbar-container  ul{
    display: flex; /* deixa orizontal*/
    list-style: none; /*tira a marcação das bolinhas*/
}
#navbar .navbar-container ul li{
    padding: 0 20px;
    transition: all 300ms ease ;
}

#navbar .navbar-container ul li:hover{
    color: var(--defaul-green);
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid var(--light-white); /* criação da barra de separação*/
}

/*showcase*/
#showcase{
    height: 100vh; /*ocupa 100% da visão do usuario*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-white);
    background: url('/img/icom.png') center center/cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}
#showcase .showcase-container{
    display: flex;
    flex-direction: column;/* elementos vão ser organizados em colunas */
    align-items: center;
}

#showcase .showcase-container h2{
    font-size: 10rem;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  var(--defaul-green);
    justify-content: space-between;
}

#showcase .showcase-container p{
    margin-top: 15px 0; /*0 dos lados */
    font-size: 1.5rem;
    color:  var(--defaul-green);
    justify-content: space-between;
}

/*footer*/
#footer{
    background: black;
    color: var(--light-white);
    padding: 80px 0;
}

#footer .footer-content{
    display: flex; /* deixa um ao lado do outro*/
    width: 60%;
    margin: auto; /*deixa o elemento ao centro*/
    
}

#footer .footer-content .footer-menu{
    margin: 0 40px; /*direita e esquerda*/
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item{
    margin: 25px 0;/* 0 laterais, 20 cima-baixo*/
    transition: all 500ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: var(--defaul-green);
    cursor: pointer;
}


#footer .footer-content .footer-menu p{
    font-weight: bold; /*peso da fonte*/
    text-transform: uppercase; /*deixa tudo maisc.*/
    color: #919496;
    font-size: 0.8rem;
}

/*redes sociais*/
.socials{
    display: flex;
}

.socials i{
    margin: 0 20px; /*20 direita esquer.*/
    font-size: 1.7rem;

    transition: all 500ms ease;
}

.socials i:hover{
    color: var(--defaul-green);
    cursor: pointer;
}

/*footer infor*/
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /*Alinha em baixo*/
    width: 60%;
    margin: auto;
    color: #919496;
    font-size: 0.75rem;

    padding-top: 40px;
}
.footer-info .footer-info-items{
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item{
    margin: 10px;
    font-weight: bold;
    transition: all 500ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover{
    color: var(--defaul-green);
    cursor: pointer;
}

.footer-info  .rights  .country{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    transition: all 500ms ease;
}   

.footer-info  .rights  .countr:hover{
color:var(--defaul-green);
cursor: pointer;
}

.footer-info  .rights  .country .brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    transition: all 500ms ease;
}

.footer-info  .rights  .country .brazil-flag:hover{
    color:var(--defaul-green);
    cursor: pointer;
}