*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    max-width: 110px;
    margin: 0 auto; /* deixa centralizado */
    padding: 0 2%; /* nã fica grudado */
}


header {
    text-align: center;
    background: darkblue;
    padding: 9px 0;
}
header a{
   
    color: white;
    text-decoration: none;
    
}
header li {
    margin:0 10px ;
   list-style:none;
           
}
header ul{
    display:flex;
}